.app {
  height: 100vh;
  color: white;
}

.lander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.lander-heading {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}

.lander-heading-h1 {
  padding-top: 5rem;
  margin: auto 0;
  font-weight: bold;
  color: white;
}

.lander-heading-h1-span {
  color: #00bcd4;
  font-weight: bold;
}

.lander-button {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.lander-button Button {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 500;
  border-color: #00bcd4;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.lander-button button:hover {
  background-color: #00bcd4;
  border: white;
}
